{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    RaceBase World - Reset Password
{% endblock %}
{% block body_text %}
    Hello {{ user.username }},

    To reset your password please click {{ confirmationUrl }}

    Happy Running!
    The RaceBase World Team
{% endblock %}
{% block body_html %}
    Hello {{ user.username }},<br>
    <br>
    To reset your password please click <a href="{{ confirmationUrl }}">here</a>.<br>
    <br>
    Happy Running!<br>
    The RaceBase World Team
{% endblock %}
