{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    RaceBase World - Reset Password
{% endblock %}
{% block body_text %}
    Hello %username%,

    To reset your password please click %confirmationUrl%

    Happy Running!
    The RaceBase World Team
{% endblock %}
{% block body_html %}
    Hello %username%,

    To reset your password please click <a href="%confirmationUrl%">here</a>.

    Happy Running!
    The RaceBase World Team
{% endblock %}
