{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    Welcome to RaceBase World!
{% endblock %}
{% block body_text %}
    Hello, Bonjour, Hallo, Ciao, Hola!

    You are seconds away from activating your account!

    Please click {{ confirmationUrl }} and start to Explore, Discover and Race the world!

    Happy Running!
    The RaceBase World Team
{% endblock %}
{% block body_html %}
    Hello, Bonjour, Hallo, Ciao, Hola!<br>
    <br>
    You are seconds away from activating your account!<br>
    <br>
    Please click <a href="{{ confirmationUrl }}">here</a> and start to Explore, Discover and Race the world!<br>
    <br>
    Happy Running!<br>
    The RaceBase World Team
{% endblock %}
